body{
  background-color: #efefef;
}
.navbar{
    padding: 1rem;
}
.card_style{
  cursor: pointer;
  transition: .3s;
}

.smalltrash{
    display: none;
}

.btnplsOrd{
    float: right;
}

.card_style:hover{
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.082);
    cursor: pointer;
}

.iteamsdetails{
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items_img{
    flex: .4;
}
.items_img img{
    width: 20rem;
    border-radius: 5px;
}

.details{
    flex: .5;
};

.rating{
    background-color: green;
}

.Item-container {
    max-width: 800px;
}

.incNred{
    max-width: 100px;
    margin-bottom: 5px;
}

.gTotal{
    max-width: 70%;
}

@media (max-width:891px){
    .iteamsdetails{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .Item-container {
        max-width: 90%;
    }
    .gTotal{
        max-width: 50%;
        text-align: left;
    }
}

@media (max-width:460px){
    .smalltrash{
        display: block;
    }
    .largetrash{
        display:none;
    }
    .emptycart_img{
        margin-right: 50px;
    }
    .smallclose{
        display: none;
    }

    /* individual iteams details */
   
    .items_img img{
        width: 16rem;
    }
    .Item-container {
        max-width: 90%;  
      }
      .gTotal{
        max-width: 100%;
        text-align: center;
    }
    .PlsOrder{
        justify-content: center !important;
        max-width: 100%;
    }
    .btnplsOrd{
        float: none;
        width: 100%;
    }
    
}